body {
    margin: 0;
    padding: 0;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif;
    background-color: #f0f2f5;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}
.container {
    max-width: 600px;
    margin: auto;
    background: white;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}
h1 {
    text-align: center;
}
input[type="text"] {
    width: calc(100% - 22px);
    padding: 10px;
    margin-bottom: 10px;
}
button {
    padding: 10px 15px;
    background-color: #28a745;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}
button:hover {
    background-color: #218838;
}
p {
    text-align: center;
    font-size: 1.2em;
}
#sonuc {
    margin-top: 20px;
    font-weight: bold;
}
@media (max-width: 600px) {
    .container {
        padding: 10px;
    }
    input[type="text"] {
        width: calc(100% - 18px);
    }
}

.whatsapp-container {
    background-color: white;
    border-radius: 10px;
    padding: 20px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    max-width: 400px;
    width: 90%;
}

.profile-header {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
}

.profile-pic {
    width: 60px;
    height: 60px;
    border-radius: 50%;
    margin-right: 15px;
}

.profile-info h1 {
    margin: 0;
    font-size: 1.5rem;
    color: #128C7E;
}

.group-description {
    margin: 5px 0 0;
    color: #667781;
    font-size: 0.9rem;
}

.whatsapp-button {
    display: block;
    background-color: #25D366;
    color: white;
    text-decoration: none;
    padding: 12px 20px;
    border-radius: 24px;
    text-align: center;
    font-weight: bold;
    transition: background-color 0.3s;
}

.whatsapp-button:hover {
    background-color: #128C7E;
}

.discord-button {
    display: block;
    background-color: #7289da;
    color: white;
    text-decoration: none;
    padding: 12px 20px;
    border-radius: 24px;
    text-align: center;
    font-weight: bold;
    transition: background-color 0.3s;
}

.discord-button:hover {
    background-color: #424549;
}

.rules-button {
    display: block;
    background-color: #3d251e;
    color: white;
    text-decoration: none;
    padding: 12px 20px;
    border-radius: 24px;
    text-align: center;
    font-weight: bold;
    transition: background-color 0.3s;
}

.rules-button:hover {
    background-color: #8b6c5c;
}
